/*If you have a specific font, specify it here*/

@font-face {
    font-family: 'font-fam';
    /*src: url('resources/Raleway.TTF');*/
    src: url('resources/GothamBook.ttf')
}

:root {
    font-size: 16px;
    font-family: 'font-fam';
    transition: 1000ms all;
    cursor: url(misc/cursor.png), auto;
}

.light {
    --text-primary: #1F1F1F;
    --text-secondary: #1A1A1A;
    --bg-primary: #EFE8D5;
    --bg-secondary: #F3F3F3;
    --theme-accent: #2D5794;
    --theme-button: #1F1F1F;
    transition: 500ms all;
}

.dark {
    --text-primary: #EFE8D5;
    --text-secondary: #F3F3F3;
    --bg-primary: #1F1F1F;
    --bg-secondary: #1A1A1A;
    --theme-accent: #2D5794;
    --theme-button: #FDF6E3;
    transition: 500ms all;
}

.line {
    margin:5px 0;
    height:20px;
    background: repeating-linear-gradient(90deg,var(--theme-accent) 0 10px,#0000 0 12px) bottom;
    background-size:100% 2px;
    background-repeat:no-repeat;
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--bg-theme);
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background: var(--theme-accent);
    border-radius: 3px;
}

::selection {
    color: #EFE8D5;
    background: var(--theme-accent);
}

a:link {
    color: var(--text-primary);
    text-decoration: none;
}

a:visited {
    color: var(--text-primary);
    text-decoration: none;
}

a:hover {
    color: var(--theme-accent);
    text-decoration: none;
}

#nav-list {
    grid-template-rows: auto;
    /* grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow:dense;
    column-gap: 20px;
    flex-direction: row;
    justify-content: start;
    display: grid;
    grid-column: 1; /* take the explicit one */
    width: 100%;
}

.nav-element {
    border:2px dashed var(--text-primary);
    padding: 10px;
    transition: 500ms all;
    width: 95%;
}
.nav-element:hover {
    background-color: var(--text-primary);
    color: var(--bg-primary);
    transition: 500ms all;
    /* border:2px dashed var(--theme-accent); */
}

#overview {
    display: grid;
    grid-template-columns: 80% 20%;
    /* grid-gap:20px; */
}

#about {
    width: 80%;
    padding: 1rem;
    text-align: justify;
    justify-content: center;
    font-size: 1rem;
    font-weight: 100;
}

#picture {
    justify-content: center;
    margin:auto;
    width: 100%;
    float: left;
}

#image-data {
    -webkit-animation: bgcolorchange 3s;
    /* Chrome, Safari, Opera */
    width: 100%;
    border-radius: 50%;
    border: 4px solid var(--theme-accent);
    transition: 500ms;
}

#image-data:hover {
    width: 100%;
    border-radius: 50%;
    border: 4px solid var(--text-primary);
    transition: 500ms;
}

.header {
    color: var(--theme-accent);
    transition: 1000ms all;
}

.social-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin:auto;
    width:auto;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    line-height:0.7em;
}

p {
    font-weight: 300;
}

label {
    color: var(--bg-theme);
    justify-content: center;
    text-align: center;
}

.project-link:hover {
    text-decoration: none;
}

.experience{
    border:2px solid  var(--text-primary);
    /* border:2px dashed var(--theme-accent); */
    /* padding: 10px; */
    transition: 500ms all;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 1em;
    row-gap:0.4em;
}

.exp-role {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    font-weight: bold;
    font-size:larger;

}
.exp-location {
    font-style: italic;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.exp-date {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

.exp-writeup {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.exp-collection {
    grid-template-rows: auto;
    /* grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); */
    grid-template-columns: 1fr;
    grid-auto-flow:dense;
    row-gap: 20px;
    flex-direction: row;
    justify-content: start;
    display: grid;
    grid-column: 1; /* take the explicit one */
    width: 100%;
    padding:1em;
}

.achievement {
    border:2px dashed var(--text-primary);
    padding:1em;
    margin:3px;
    text-align:center;
}


body {
    color: var(--text-primary);
    background: var(--bg-primary);
    /*background: var(--text-theme);*/
    padding: 3rem;
    padding-top: 0rem;
    cursor: url(/misc/cursor.png);
    transition: 1000ms;
}

footer{
    color: var(--text-primary);
    background: var(--bg-primary);
    padding:5px;
    border: 2px dashed var(--theme-accent);
    border-radius: 2px;
    margin-top:30px;
    padding-bottom:0px;
}
#theme {
    position:fixed;
    z-index:2;
}

#theme-button {
    border: 2px solid var(--theme-accent); 
    background-color: var(--theme-button);

    height:2rem; 
    width:2rem; 

    border-radius:50%; 
    float:left;

    box-shadow: rgba(3,8,20,0.3) 0px 0.15rem 0.5rem, rgba(3,8,20,0.3) 0px 0.075rem 0.175rem;
}

#theme-button:hover {
    border: 2px solid var(--text-primary); 
    /*background-color: var(--text-primary);*/
    transition:500ms all;
}

#content {
    padding: 4rem;
    padding-top: 0rem;
}

#content-policy {
    padding: 7rem;
    padding-top: 0rem;
    justify-content: center;
}


.hbar {
    border-bottom: 5px solid var(--theme-accent)
}


/*Set the background of the body*/

@keyframes bgcolorchange {
    0% {
        background-color: var(--bg-theme);
        color: var(--text-primary);
    }
    100% {
        background-color: var(--theme-accent);
        color: var(--text-theme);
    }
}

.card-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax( 240px, 5fr));
}

#highlighted-projects {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax( 240px, 3fr));
}

.project-highlighted {
    /* background-color: var(--theme-accent); */
    font-size: 1.5rem;
    border:2px solid var(--theme-accent);
    border-radius: 4px;
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    color: var(--text-primary);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    transition: all 500ms;
}

.project-highlighted:hover {
    background-color: var(--text-primary);
    color: var(--bg-primary);
    text-decoration: none;
}

.project-link:hover {
    text-decoration: none;
}

.link {
    margin: 7%;
    justify-content: center;
    text-align: center;
    width: 100%;
    transition: 500ms all;
}

.link:hover {
    color: var(--theme-accent);
}

.project-highlighted:hover {
    background-color: var(--text-primary);
    color: var(--bg-primary);
}


/* Medium screens */
@media screen and (min-width: 600px) {
    .author-image {
        width: 30rem;
        margin-right: 2%;
        float: left;
    }
    .card-tall {
        grid-row: span 2 / auto;
    }
    .card-very-tall {
        grid-row: span 3 / auto;
    }
    .card-wide {
        grid-column: span 2 / auto;
    }
    .card-very-wide {
        grid-column: span 3 / auto;
    }
    body {
        padding-top: 2rem;
    }
    #content {
        padding-top: 5rem;
    }
}


/* Small/Mobile screens */
@media only screen and (max-width: 480px) {
    .author-image {
        width: 30rem;
        margin-right: 2%;
        float: left;
    }
    .card-tall {
        grid-row: span 2 / auto;
    }
    .card-very-tall {
        grid-row: span 3 / auto;
    }
    .card-wide {
        grid-column: span 2 / auto;
    }
    .card-very-wide {
        grid-column: span 3 / auto;
    }
    body {
        padding: 1rem;
        padding-top: 1rem;
    }
    #content {
        padding: 0.5rem;
        padding-top: 5rem;
    }
    #nav-list {
        grid-template-columns: 1fr;
    }
    .nav-element {
        margin:0.5rem;
    }

    h1 {
        font-size: 2rem;
        /*line-height:0.7em;*/
    }
}
